@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager

<PageTitle>Achievements</PageTitle>

<h1>Achievements</h1>

@if (achievements == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var achievement in achievements)
            {
                <tr>
                    <td>@achievement.Id</td>
                    <td>@achievement.State</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HubConnection achievementsHubConnection;
    private List<Achievement> achievements = new List<Achievement>();

    protected override async Task OnInitializedAsync()
    {
        achievementsHubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5002/achievements")  
            .Build();
  
        achievementsHubConnection.On("AchievementStateChanged", (Guid id, string state) => 
        {
            var achievement = achievements.FirstOrDefault(_ => _.Id == id);
            if(achievement == null)
            {
                achievements.Add(new Achievement { Id = id, State = state});
            }
            else
            {
                achievement.State = state;
            }
            StateHasChanged();
        });

        await achievementsHubConnection.StartAsync();
    }

    class Achievement
    {
        public Guid Id { get; set; }
        public string State { get; set; }
    }
}
